@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
    font-family: 'Fredoka', sans-serif;
    box-sizing: border-box;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #bbac9f;
    gap: var(--cell-gap);

    border-radius: 2vmin;
    padding: var(--cell-gap);
    overflow: hidden;
    position: relative;

    margin-top: 4vmin;
    margin-bottom: 4vmin;
}

.cell {
    border-radius: 2vmin;
    background-color: #ccc0b3;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 2vmin;
    font-size: var(--font-size);

    color: hsl(28, 8%, var(--text-lightness));
    background-color: hsl(30, 64%, var(--background-lightness));
    font-weight: 600;
    /* background-color: hsl(30, 64%, %); */

    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}


.lose-texts {
    display: none;
}

.lose::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(238, 228, 218, 0.5) !important;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.lose .lose-texts {
    color: #766d65;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10vmin;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.header {
    display: none !important;
}

.lose .header {
    display: block;
}

.btn {
    border-radius: .3rem;
    color: #faf8ef;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2vmin;
    font-size: 5vmin;
    background-color: #8f7a65;
}

.header {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    margin-top: 5vmin;
    font-size: 6vmin;
}

.header div {
    margin: 0 1vmin;
    padding: 1vmin;
    border-radius: 1rem;
    background-color: #bbac9f;
    color: #ffffff;
}

.ui-loader {
    display: none !important;
}

.intro .btn {
    padding: 10px 25px;
    transition: .5s;
    font-size: 50px;
}

.intro .btn:hover {
    letter-spacing: 7px !important;
    padding: 15px 30px;
}

.intro .header {
    display: block !important;
    position: absolute;
    top: 0;
}

.intro .header .best {
    font-size: 1.4rem;
    padding: 10px 20px !important;
}

.score {
    font-size: 3vmin;
    margin: 0;
    padding: 0;
}

.btn-sm {
    border-radius: .3rem;
    color: #faf8ef;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2vmin;
    font-size: 3vmin;
    text-align: center;
    background-color: #cc9c6d;
    margin: 1vmin;
}

.btn {
    margin: 1vmin;
}